<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://flask-khor-tutorial--mahanghelichi.repl.co/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="https://www.roblox.com/users/2431263785/profile" class="nav-link px-2 text-body-secondary">Roblox</a></li>
      <li class="nav-item"><a href="https://discord.com/channels/150074202727251969/406999049619898378" class="nav-link px-2 text-body-secondary">Discord</a></li>
      <li class="nav-item"><a href="www.google.com" class="nav-link px-2 text-body-secondary">Events</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2023 Famire, Inc</p>
  </footer>
</div>